
    <mat-toolbar id="app-header" [className]="isMobileView ? 'mobileView' : ''">
        <div [classList]="'app-brand ' + (isMobileView ? 'mobileSearch' : 'desktopSearch')">
            <a href="/search" data-test-id="appLogo"><img [src]="appLogo" alt="Application logo"/></a>
        </div>
        <button (click)="onToggleMenu()" [classList]="'input-group-text input-icon ' + (isMobileView ? 'mobileSearch' : 'desktopSearch')" id="mobileMenuButton"><i class="bi bi-list"></i></button>
        <div [classList]="'input-group flex-nowrap ' + (isMobileView ? 'mobileSearch' : 'desktopSearch')" id="searchInput">
            <input type="text" data-test-id="searchInput" class="form-control"
                   placeholder="Search" [(ngModel)]="searchValue"
                   aria-label="Search" aria-describedby="addon-wrapping"
                   (keyup.enter)="onSearch(searchValue)" (blur)="onSearch(searchValue)">
        </div>
        <div class="app-header__right-column">
            <div class="app-header__right-column__addnew-block" (click)="onAddNew()" data-test-id="addNewBlock">
                <span><i class="bi bi-plus-circle"></i></span>
                <span class="app-header__right-column__label">New</span>
            </div>
            <div class="img-container-round">
                <img src="assets/icons/user-icon.png" (click)="onOpenUserInfo()" alt="User icon"
                     data-test-id="openUserInfo">
            </div>
        </div>
    </mat-toolbar>