<ngx-graph
  class="chart-container"
  [draggingEnabled]="draggingEnabled"
  [panningEnabled]="panningEnabled"
  [enableZoom]="zoomEnabled"
  [zoomSpeed]="zoomSpeed"
  [minZoomLevel]="minZoomLevel"
  [maxZoomLevel]="maxZoomLevel"
  [panOnZoom]="panOnZoom"
  [autoCenter]="autoCenter"
  [autoZoom]="autoZoom"

  [showMiniMap]="showMiniMap"
  [miniMapPosition]="miniMapPosition"
  [links]="links"
  [nodes]="graphNodes"

  [view]="view"
  layout="dagre"
>
  <ng-template #defsTemplate>
    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto-start-reverse">
      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
    </svg:marker>
  </ng-template>

  <ng-template #nodeTemplate let-node>
    <svg:g class="node">
      <svg:rect
        [attr.width]="node.dimension.width"
        [attr.height]="node.dimension.height"
        [attr.fill]="node.data.customColor || node.data.color"
        [attr.cursor]="'pointer'"
        (click)="onClickNode(node, node.label)"
      />
      <svg:text alignment-baseline="central"
                [attr.x]="10" [attr.y]="node.dimension.height / 2"
                [attr.cursor]="'pointer'"
                (click)="onClickNode(node, node.label)">
        {{node.label}}
      </svg:text>
    </svg:g>
  </ng-template>

  <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
      <svg:text class="edge-label" text-anchor="middle">
      </svg:text>
    </svg:g>
  </ng-template>

<!--  <ng-template #clusterTemplate let-cluster>-->
<!--    <svg:g class="node cluster">-->
<!--      <svg:rect-->
<!--        [attr.width]="cluster.dimension.width"-->
<!--        [attr.height]="cluster.dimension.height"-->
<!--        [attr.fill]="cluster.data.customColor || cluster.data.color"-->
<!--      />-->
<!--      <svg:text>-->
<!--        {{cluster.label}}-->
<!--      </svg:text>-->
<!--    </svg:g>-->
<!--  </ng-template>-->
</ngx-graph>
