/* Dark Theme * /
:root {
    --color-bg: #1E1E1E;
    --color-fg:  #D4D4D4;
    --color-fg-alt:  #D4D4D4B3;
    --color-bg-menu: #333333;
    --color-fg-menu:  #D4D4D4;
    --color-fg-menu-alt:  #D4D4D4B3;
}
*/

/* Light Theme */
:root {
    --color-bg: #f3f3f3;
    --color-fg:  #000000;
    --color-fg-alt:  #000000B3;
    --color-bg-menu: #333333;
    --color-fg-menu:  #D4D4D4;
    --color-fg-menu-alt:  #D4D4D4B3;
}

body {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    color: var(--color-fg);
    background-color: var(--color-bg);
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial',
        'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji';
}

a {
    color: var(--color-fg);
    text-decoration: none;
}

a:hover {
    color: var(--color-fg-alt);
}

input {
    background-color: inherit;
    color: inherit;
    font: inherit;
    font-family: inherit;
    /* border: none; */
}