<div class="app-main-container" role="main">
    <div class="app-content">
        <div id="search">
            <div class="search-header-container-block"
                 [style]="'grid-template-columns: 1fr;'">
                <search-additional-buttons
                        [searchAdditionalButtonsData]="searchAdditionalButtonsData"
                        [isMinimizeSearchAdditionalButtons]="isMinimizeSearchAdditionalButtons"
                        (searchAdditionalButtonsMethod)="onClickSearchAdditionalButton($event)">
                </search-additional-buttons>
            </div>
            <div class="search-result-container">
                <div class="search-result-container__content">
                    <app-repo-list [dataSource]="tableData.tableSource"
                                   [resultUnitText]="tableData.resultUnitText"
                                   [isResultQuantity]="tableData.isResultQuantity"
                                   [isClickableRow]="tableData.isClickableRow"
                                   (onSelectDatasetEmit)="onSelectDataset($event)"></app-repo-list>
                </div>

                <div class="card">
                    <nav class="navbar navbar-expand">
                        <div class="navbar-nav">
                            <h3>Additional info block</h3>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
