<div class="app-main-container" role="main">
    <div class="app-content">
        <div id="search">

            <div class="search-result-container">
                <div class="card">
                    <nav class="navbar navbar-expand">
                        <div>
                            <h3>Filters</h3>
                            <h3>Search for:</h3>
                            <ul>
                                <li><h4>datasets</h4></li>
                                <li><h4>collections</h4></li>
                                <li><h4>users</h4></li>
                                <li><h4>organizations</h4></li>
                            </ul>
                            <h3>Datasets::</h3>
                            <ul>
                                <li><h4>root</h4></li>
                                <li><h4>derivative</h4></li>
                                <li><h4>updated within:</h4>
                                    <ul>
                                        <li><h4>last day</h4></li>
                                        <li><h4>last month</h4></li>
                                        <li><h4>last year</h4></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="search-result-container__content">
                    <app-repo-list [dataSource]="tableData.tableSource"
                                   [sortOptions]="tableData.sortOptions"
                                   [resultUnitText]="tableData.resultUnitText"
                                   [totalCount]="tableData.totalCount"
                                   [isResultQuantity]="tableData.isResultQuantity"
                                   [isClickableRow]="tableData.isClickableRow"
                                   (onSelectDatasetEmit)="onSelectDataset($event)"></app-repo-list>

                    <ng-template [ngIf]="tableData.tableSource.length > 0 && tableData.pageInfo">
                        <app-pagination [currentPage]="currentPage" [pageInfo]="tableData.pageInfo" (pageChangeEvent)="onPageChange($event)"></app-pagination>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
