name: release-dev
on:
  # Manual trigger
  workflow_dispatch:
    inputs:
      branch:
        description: Branch to build from
        required: true
        default: master
jobs:
  build_linux:
    name: Build / Linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crate:
          - kamu-api-server
          # - kamu-oracle-provider
        target:
          - x86_64-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v6
        # Check out the specified branch
        with:
          ref: ${{ github.event.inputs.branch }}
      
      - uses: cargo-bins/cargo-binstall@main
      
      - name: Install cross
        run: cargo binstall cross -y

      - uses: swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - uses: actions-rs/toolchain@v1
        # Uses rust-toolchain file
        with:
          target: ${{ matrix.target }}
          override: true
      
      - name: Build crate
        run: cross build -p ${{ matrix.crate }} --release --target=${{ matrix.target }}
      
      - name: Build image
        run: |
          cd images/kamu-dev-api-server
          make image TARGET=${{ matrix.target }}
      
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Push image
        run: |
          cd images/kamu-dev-api-server
          make image-push
